
<div class="row">
    <div class="col-md-8">
        <h1>New Payment</h1>
        
        <%= render 'form' %>
    </div>
    
    <div class="col-md-4">
        <h1>Check these values</h1>
        <p><b>Date:</b>    <%= @variable.date %></p>
        <p><b>Month:</b>   <%= @variable.month %></p>
        <p><b>Year:</b>    <%= @variable.year %></p>
        <p><b>Payment Mode:</b><%= @variable.payment_mode %></p>
        <strong><%= link_to 'Change these values', edit_variable_path(Variable.last.id),class: "btn btn-success" %></strong>
    </div>