<div class="row">
    <div class="col-md-4">
        <h3>Current values:</h3>
        <table class="table">
            <tr>
                <td><strong>Year:</strong></td>
                <td><%= @variable.year %></td>
            </tr>
            <tr>
                <td><strong>Month:</strong></td>
                <td><%= @variable.month %></td>
            </tr>
            <tr>
                <td><strong>Date:</strong></td>
                <td><%= @variable.date %></td>
            </tr>
            <tr>
                <td><strong>Payment Mode:</strong></td>
                <td><%= @variable.payment_mode %></td>
            </tr>
        </table>
    
    </div>
    <div class="col-md-8">
        <h3>Update These Values</h3>
        
        <%= render 'form' %>
    </div>    
</div>
